<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GGEWK9RBTG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GGEWK9RBTG');
    </script>

    <meta property="og:title" content="Dreamer">
    <meta property="og:url" content="dreamer.pe.kr">
    <meta property="og:description" content="Dream For Fresh에 오신 여러분 환영합니다 :)">
    <meta property="og:image" content="https://ifh.cc/g/CHSVWZ.png">
    <title>Dreamer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/js" href="{% static 'js/script.css' %}">
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
    {% include 'shared/_navbar.html' %}
    
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
</html>