body {
    /* background: linear-gradient(#ffffff -10%, #ffc824 80%) fixed; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
}

#logo {
    width : 160px;
    height: 30px;
    margin-bottom: 6px;
    margin-left: 5px;
}

#grown {
    width : 40%;
}

.login{
    margin: auto;
    text-align: center;
}

#login_logo{
    margin-top: 70px;
    width: 180px;
}

#input_id{
    width : 310px;
    margin: 30px 0px 20px 0px;
}

#input_pwd{
    width : 310px;
    margin: 0px 0px 30px 0px;
}

#login_button{
    width: 310px;
    color: white;
    background-color: #F79400;
    border: none;
    border-radius: 8px;

}

#submit_logo{
    margin-top: 40px;
    width: 160px;
}

.form{
    margin: auto;
    text-align: center;
}

#writer{
    width : 85%;
    margin: 20px 0px 30px 0px;
}

#content{
    /* width : 310px;
    height: 300px; */
    width: 85%;
    height: 200px;
    margin: 0px 0px 30px 0px;
}

#submit_button{
    width: 85%;
    color: white;
    background-color: #F79400;
    border: none;
    border-radius: 8px;
}

#message{
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 13px;
}

.recruit{
    text-align: center;
}

#recruit_title{
    margin: 20px;
}

#poster{
    width: 85%;
    display: block;
    align-items: center;
    margin: auto;
}