<nav class="navbar bg-transparent absolute-top ">
    <div class="container-fluid ">
        <a class="navbar-brand " href="{% url 'main:showmain' %}">
            <!-- <img id="logo" src="https://i.ibb.co/ZTfbv3K/Dreamer-2.png"> -->
            <!-- <img id="logo" src="https://ifh.cc/g/8xZj2B.png"> -->
            <img id="logo" src="https://ifh.cc/g/X2NxqA.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dream For Fresh</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        {% if user.is_authenticated %}
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:showmain' %}">홈</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            드포프
                        </a>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:showdff' %}">활동소개 및 일정안내</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'main:showannounce' %}">공지</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'main:showForyou' %}">여러분께 전하는 메세지</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showmessage' %}">수고한 멘토에게</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Dreamer
                        </a>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:showdreamer' %}">드리머 소개</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showmentors' %}">드리머 멘토 소개</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showrecruit' %}">모집 정보</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:showcontact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:logout' %}">멘토 로그아웃</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:showmain' %}">홈</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            드포프
                        </a>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:showdff' %}">활동소개 및 일정안내</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'main:showannounce' %}">공지</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'main:showForyou' %}">여러분께 전하는 메세지</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showNew' %}">수고한 멘토에게</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Dreamer
                        </a>
                        <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:showdreamer' %}">드리머 소개</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showmentors' %}">드리머 멘토 소개</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:showrecruit' %}">모집 정보</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:showcontact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:login' %}">멘토 로그인</a>
                    </li>
                </ul>
            </div>

            {% endif %}

        </div>
    </div>
</nav>