{% extends 'base.html' %}

{% block content %}
<div class="center_webex">
    <a href="https://dongguk.webex.com/meet/pr2022112026">
        <img id="center_webex" src="https://ifh.cc/g/9m6t4c.png">
    </a>
    <img id="center_activity_1" src="https://ifh.cc/g/TWTSZ3.jpg">
    <img id="center_activity_2" src="https://ifh.cc/g/FxzLr7.jpg">
</div>

<div class="team_webex">
    <a href="https://dongguk.webex.com/meet/pr2021112261">
        <img id="first_1" src="https://ifh.cc/g/NKmr1w.png" >
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021111160">
        <img id="first_1" src="https://ifh.cc/g/Jwal37.png">
    </a>    
    <a href="https://dongguk.webex.com/meet/pr2021111267">
        <img id="first_1" src="https://ifh.cc/g/hWMhfy.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021112127">    
        <img id="first_1" src="https://ifh.cc/g/8l9OcP.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021111945">
        <img id="first_1" src="https://ifh.cc/g/0YBNzk.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021112553">
        <img id="first_2" src="https://ifh.cc/g/AAyqMV.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2022110283">
        <img id="first_2" src="https://ifh.cc/g/dQVOhQ.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021112376">
        <img id="first_2" src="https://ifh.cc/g/xKr2Xw.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2022113158">
        <img id="first_2" src="https://ifh.cc/g/Z2Dv4J.png">
    </a>
    <img id="group_activity_1" src="https://ifh.cc/g/zjCSOj.jpg">
    <img id="group_activity_2" src="https://ifh.cc/g/gzszo3.jpg">
    <br><br>

    <!-- <a href="https://dongguk.webex.com/meet/pr2021112261">
        <img id="first_1" src="https://ifh.cc/g/NKmr1w.png" >
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021111160">
        <img id="first_1" src="https://ifh.cc/g/Jwal37.png">
    </a>    
    <a href="https://dongguk.webex.com/meet/pr2021111267">
        <img id="first_1" src="https://ifh.cc/g/hWMhfy.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021112127">    
        <img id="first_1" src="https://ifh.cc/g/8l9OcP.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021111945">
        <img id="first_1" src="https://ifh.cc/g/0YBNzk.png"><br>
    </a>
    <a href="https://dongguk.webex.com/meet/pr2021110272">
        <img id="first_2" src="https://ifh.cc/g/AAyqMV.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2022110283">
        <img id="first_2" src="https://ifh.cc/g/dQVOhQ.png">
    </a>
    <a href="https://meet84.webex.com/meet/pr1824343077">
        <img id="first_2" src="https://ifh.cc/g/xKr2Xw.png">
    </a>
    <a href="https://dongguk.webex.com/meet/pr2022113158">
        <img id="first_2" src="https://ifh.cc/g/Z2Dv4J.png">
    </a> -->
</div>

{% endblock %}