<!-- 멘토에게 보이는 메세지 정리 -->
{% extends 'base.html' %}

{% block content %}

    <img id="arrive_letter" src="https://ifh.cc/g/1XqnwX.png">
    <a id="letter_ment">제목을 누르면 상세 내용을 볼 수 있어요!</a>

    <!-- {{blogs}} -->
    <div class="message">
        {% for blog in blogs %}
        <div id="message">
            <!-- <script type="text/javascript">
                function modal()  {
                        location.href="{% url 'main:showdetail' id=blog.id %}"
                    }
            </script> -->
            <div id="message_content">
                <div id="blog_id">
                    <a id="blog_id">#{{blog.id}}</h3>
                </div>
                <!-- <a id="blog_writer">{{blog.writer}}</h3> -->
                <a id="blog_title" href="{% url 'main:showdetail' blog.id %}">{{blog.title}}</a>
                <!-- <a id="blog_body">{{blog.body}}</a> -->
            </div>
            <!-- <div id="blog_time">
                <a id="blog_time">{{blog.pub_date}}</a>
            </div> -->
            <div id="blog_delete">
                <a id="blog_delete" href="{% url 'main:delete' blog.id%}">삭제하기</a>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
