{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>메세지</h1>

<!-- {{blogs}} -->
<div>
    {% for blog in blogs %}
    <div>
        <h3>#{{blog.id}}</h3>
        <h3>{{blog.writer}}</h3>
        <h3>{{blog.body}}</h3>
    </div>
    <a href="{% url 'main:delete' blog.id%}">삭제하기</a>
    {% endfor %}
</div>

{% else %}

    <div class="form">
        <form action="{% url 'main:create' %}" method="post">
            {% csrf_token %}
            <img id="submit_logo" src="https://ifh.cc/g/ZGpaOB.png"><br>
            <input id="writer" type="text" name="writer" placeholder="작성자"><br>
            <textarea id="content" type="text" name="body" placeholder="수고한 멘토들에게 따뜻한 한마디를 작성해주세요 :)"></textarea><br>
            <button id="submit_button" type="submit">제출</button><br><br><br>
        </form>
    </div>

{% endif %}

{% endblock %}