{% extends 'base.html' %}

{% block content %}
<div class="recruit">
    <img id="poster_1" src="https://ifh.cc/g/Drt0nV.jpg">
    <img id="poster_2" src="https://ifh.cc/g/pR32LC.jpg">
    <br>
    <button type="button" id="ipsi" onclick="window.open('https://ipsi.dongguk.edu/admission/html/main/main.asp')">입학처 홈페이지</button>
    <button type="button" id="recruit_insta" onclick="window.open('https://www.instagram.com/dongguk_dreamer/')">@dongguk_dreamer</button>
    <br>
    <a id="recruit_ment">버튼을 누르면 페이지가 해당 페이지로 이동해요!</a>
</div>

{% endblock %}